<ion-modal-view>
  <ion-header-bar align-title="left">
    <h1 class="title">Submit Comment on Dish</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCommentModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
   <form ng-submit="submitComment()">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Rating
        </div>
        <select ng-model="comment.rating">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Your Name" ng-model="comment.author">
      </label>
      <label class="item item-input">
        <textarea placeholder="Your Comment" ng-model="comment.comment"></textarea>
      </label>
      <label class="item">
        <button class="button button-positive button-block" type="submit"> Submit </button>
      </label>
    </div>
   </form>
  </ion-content>
</ion-modal-view>

